<div class="container">
    <h3 class="text-center text-dark-emphasis">
        Comparar Inventairos
    </h3>
    <!-- <div class="row"> -->
        <!-- <div class="col-md-6 mt-3"> -->
            <form [formGroup]="form" class="row">
                <div class="col-md-6 my-3">
                    <div class="row">
                        
                        <div class="col-md-6 mb-3">
                            <label for="fecha1" class="form-label">Fecha 1</label>
                            <input formControlName="fecha1" type="date" id="fecha1" class="form-control">
                            <small *ngIf="datoInvalido('fecha1')" class="e-mensaje-error">{{mensaje('fecha1')}}</small>
                        </div>
                    
                        <div class="col-md-6">
                            <label class="form-label">Turno 1</label>
                            <select formControlName="turno1" class="form-select" id="turno1">
                                <option value="M">Mañana</option>
                                <option value="T">Tarde</option>
                                <option value="N">Noche</option>
                            </select>
                            <small *ngIf="datoInvalido('turno1')" class="e-mensaje-error">{{mensaje('turno1')}}</small>
                        </div>

                    </div>
    
                </div>

                
                <div class="col-md-6 my-3">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="fecha2" class="form-label">Fecha 2</label>
                            <input formControlName="fecha2" type="date" id="fecha2" class="form-control">
                            <small *ngIf="datoInvalido('fecha2')" class="e-mensaje-error">{{mensaje('fecha2')}}</small>
                        </div>
    
                        <div class="col-md-6">
                            <label class="form-label">Turno 2</label>
                            <select formControlName="turno2" class="form-select" id="turno2">
                                <option value="M">Mañana</option>
                                <option value="T">Tarde</option>
                                <option value="N">Noche</option>
                            </select>
                            <small *ngIf="datoInvalido('turno2')" class="e-mensaje-error">{{mensaje('turno2')}}</small>

                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Sucursal</label>
                            <select formControlName="idSucursal" class="form-select" id="idSucursal">
                                <option *ngFor="let s of sucursales" [value]="s.idSucursal">{{s.nombre}}</option>
                            </select>
                            <small *ngIf="datoInvalido('idSucursal')" class="e-mensaje-error">{{mensaje('idSucursal')}}</small>
                        </div>
    
                        <div class="col-md-6 d-grid">
                            <label for="">Filtrar</label>
                            <button class="btn btn-warning" (click)="buscar()" type="button">Buscar</button>
                        </div>
                    </div>
                </div>

            </form>
        
        <!-- </div> -->

        
    <!-- </div> -->
</div>
