<!------ TABLA ------>

<div class="container">
    <div class="row">
  
      <div class="col-12">
        <h1 class="text-center mt-3 text-dark-emphasis">{{'Detalle de recepciones'}}</h1>
        <h6 class="text-secondary mt-3" *ngIf="fechaApertura">Fecha Apertura: {{fechaApertura | date}}</h6>
        <h6 class="text-secondary mt-3" *ngIf="idCabeceraInv">Nro Inventario: {{idCabeceraInv}}</h6>
        <h6 class="mt-3 fw-bold" [ngClass]="{'text-danger': !invHabilitado, 'text-secondary': invHabilitado}">{{descripcion}}</h6>
      </div>
  
      <div class="col-12">
        <div class="text-center" *ngIf="cargandoDatos">
            <div class="spinner-border text-danger" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <!-- 
            <div class="text-center text-danger">
              Obteniendo los Datos..
            </div> 
            -->
        </div>
      </div>

  
      <div class="col-12"  *ngIf="!cargandoDatos">
        <table class="responsive">
          <table class="table hover mt-2" *ngIf="drecpciones.length>0"><!-- *ngIf="!cargandoTabla && !cargandoOperacion"--> 

            <thead class="bg-warning">
                <tr>
                    <th class="text-center">Id Recepcion</th>
                    <!-- <th class="text-center">Fecha</th> -->
                    <th class="text-center">Producto</th>
                    <th class="text-center">Precio</th>
                    <th class="text-center">Cantidad</th>
                    <th class="text-center">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of drecpciones; let j=index;">
                    <td class="text-start">{{i.idcrecepcion}}</td>
                    <!-- <td class="text-start">{{ i.Crecepcion.fecha | date: 'dd-MM-yyyy HH:mm:ss' }}</td> -->
                    <td class="text-start">{{i.Producto.nombre  | titlecase}}</td>
                    <td class="text-end">{{i.precio | number}}</td>
                    <td class="text-center">{{i.cantidad}}</td>
                    <td class="text-end">{{i.total | number}}</td>
                </tr>
            </tbody>
        </table>
        </table>
      </div>
    
    </div>
  </div>
  
   
  
  
  
  