<!------ TABLA ------>

<div class="container">
    <div class="row">
  
      <div class="col-12">
        <H3 class="text-center text-dark-emphasis">{{'Detalle de recepciones'}}</H3>
        <p class="fw-bold" [ngClass]="{'text-danger': !invHabilitado, 'text-secondary': invHabilitado}">{{descripcion}}</p>
        <p class="text-secondary" *ngIf="fechaApertura">Fecha Apertura: {{fechaApertura | date}}</p>
        <p class="text-secondary" *ngIf="idCabeceraInv">Nro Inventario: {{idCabeceraInv}}</p>
      </div>
  
      <div class="col-12">
        <div class="text-center" *ngIf="cargandoDatos">
            <div class="spinner-border text-danger" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <!-- 
            <div class="text-center text-danger">
              Obteniendo los Datos..
            </div> 
            -->
        </div>
      </div>

  
      <div class="col-12"  *ngIf="!cargandoDatos">
        <div class="table-responsive pb-4">
          <table class="table hover" *ngIf="drecpciones.length>0"><!-- *ngIf="!cargandoTabla && !cargandoOperacion"--> 

            <thead class="bg-warning">
                <tr>
                    <th class="text-center">ID RC</th>
                    <!-- <th class="text-center">Fecha</th> -->
                    <th class="text-center">PRODUCTO</th>
                    <th class="text-center">PRECIO</th>
                    <th class="text-center">CANTIDAD</th>
                    <th class="text-center">TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of drecpciones; let j=index;">
                    <td class="text-center">{{i.idcrecepcion}}</td>
                    <!-- <td class="text-start">{{ i.Crecepcion.fecha | date: 'dd-MM-yyyy HH:mm:ss' }}</td> -->
                    <td translate="no" class="text-start">{{i.Producto.nombre  | titlecase}}</td>
                    <td class="text-end">{{i.precio | number}}</td>
                    <td class="text-center">{{i.cantidad}}</td>
                    <td class="text-end">{{i.total | number}}</td>
                </tr>
            </tbody>
        </table>
        </div>
      </div>
    
    </div>
  </div>
  
   
  
  
  
  