<!------ TABLA ------>

<div class="container">
    <div class="row">
  
      <div class="col-12">
        <h3 class="text-center text-dark-emphasis">{{'Detalle de salidas'}}</h3>
        <P class="fw-bold" [ngClass]="{'text-danger': !invHabilitado, 'text-secondary': invHabilitado}">{{descripcion}}</P>
        <P class="text-secondary" *ngIf="fechaApertura">Fecha Apertura: {{fechaApertura | date}}</P>
        <P class="text-secondary" *ngIf="idCabeceraInv">Nro Inventario: {{idCabeceraInv}}</P>
      </div>
  
      <div class="col-12">
        <div class="text-center" *ngIf="cargandoDatos">
            <div class="spinner-border text-danger" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <!-- <div class="text-center text-danger">
              Obteniendo los Datos..
            </div> -->
        </div>
      </div>

  
      <div class="col-12"  *ngIf="!cargandoDatos">
        <div class="table-responsive pb-4">
          <table class="table hover mt-2" *ngIf="dsalidas.length>0"><!-- *ngIf="!cargandoTabla && !cargandoOperacion"--> 

            <thead class="bg-warning">
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">ID INV</th>
                    <th class="text-center">PRODUCTO</th>
                    <th class="text-center">CANTIDAD</th>
                    <th class="text-center">MOTIVO</th>
                    <th class="text-center">PRECIO</th>
                    <th class="text-center">TOTAL</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of dsalidas; let j=index;">
                    <td class="text-start">{{i.idcsalida}}</td>
                    <td class="text-start">{{i.idcabinventario}}</td>
                    <td translate="no" class="text-start">{{i.Producto.nombre | titlecase}}</td>
                    <td class="text-center">{{i.cantidad}}</td>
                    <td class="text-center">{{i.Salida.descripcion}}</td><!--todo: agg-->
                    <!-- <td class="text-end">{{i.Producto.DInventarios[0].precio  | number}}</td> -->
                    <td class="text-end">{{i.precio | number}}</td>
                    <td class="text-end">{{i.total | number}}</td>
                </tr>
            </tbody>
        </table>
        </div>
      </div>
    
    </div>
  </div>
  
   
  
  
  
  