.field-amount-size{
    min-width: 150px;
    max-width: 150px;
}

.field-description-size{
    min-width: 400px;
    max-width: 500px;
}





/* Aplica un alto máximo a la tabla y habilita el desplazamiento vertical */
.table-responsive {
    max-height: 55vh; 
    overflow-y: auto;
  }
  
  /* Establece un ancho máximo para evitar el desplazamiento horizontal innecesario */
  .table {
    max-width: 100%; 
  }
  
  /* Fija el encabezado en la parte superior de la tabla */
  /* .table thead th {
    position: sticky;
    top: 0;
    background-color: #ffc107; 
  } */
  .table thead th {
    background-color: #ffc107; 
    font-size: 18px;
}

/* Estilo adicional para las tablas con la clase 'tablaFormulario' */
.table.tablaFormulario thead th {
    top: 0;
    position: sticky;
}
