<!-------------- CON NG MODEL -------------->

<!-- 
 <table *ngIf="productos.length>0">
        <thead>
            <tr>
                <th class="text-center">Nombre</th>
                <th class="text-center">Precio</th>
                <th class="text-center">Cantidad</th>
                <th>Total</th>
                <th>Total2</th>

            </tr>
        </thead>
        <tbody > 
            <tr *ngFor="let i of productos">
                <td>{{i.nombre | titlecase}}</td>
                <td>{{i.precio | number}}</td>
                <td>
                    <input type="number" [(ngModel)]="i.cantidad" required min="" [ngClass]="{'is-invalid': !i.cantidad}" (ngModelChange)="actualizarCantidad(i)">
                </td>
                <td *ngIf="i.precio*i.cantidad">{{i.precio*i.cantidad}}</td>
                <td>{{i.total}}</td>
                </tr>    
        </tbody>
    </table>
    
    <button (click)="mostrar()">Mostrar</button>
-->
<!------ TABLA ------>

<div class="container">

    <div class="row">

    <!---->
    <div class="col-12">
      <h3 class="text-center mt-3">{{descripcion}}</h3>
    </div>
    <!---->

    <div class="col offset-md-9 col-md-3" *ngIf="invHabilitado">
      <div class="d-grid gap-2 my-2">
        <button class="btn e-primer-boton" (click)="enviar()">Enviar</button>
      </div>
    </div>
    
    <div class="col-12">
        <div class="text-center" *ngIf="cargando">
            <div class="spinner-border text-danger" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <div class="text-center text-danger">
              Registrando el inventario..
            </div>
        </div>
    </div>

    <div class="col-12" *ngIf="cargandoTabla">
        <div class="text-center">
          <div class="spinner-border text-danger" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <div class="text-center text-danger">
          Obteniendo billetes...
        </div>
    </div>
<!--
        <div class="col-12 table-responsive rounded p-0 e-primer-fondo-claro" >
            <form [formGroup]="form" *ngIf="dineros.length>0">

                <table datatable [dtOptions]="dtOptions" class="table hover" > 

                    <thead *ngIf="!cargandoTabla">
                        <tr>
                            <th>Nombre</th>
                            <th>Monto</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="!cargandoTabla">

                        <tr *ngFor="let i of dineros; let j=index;">
                            <td>{{i.nombreBillete | titlecase}}</td>
                            <td>{{i.monto | number}}</td>
                            <td  class="col-2"> 

                                <div>
                                    <input type="number" class="form-control" formControlName="{{ i.idBillete }}" [id]="i.idBillete">
                                    <span *ngIf="datoInvalido(i.idBillete.toString())" class="e-mensaje-error">{{mensaje(i.idBillete.toString())}}</span>   
                
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            
            </form>
        </div>

-->

<!--
<div class="col-12 table-responsive rounded p-0 e-primer-fondo-claro">
    <form [formGroup]="form" *ngIf="dineros.length > 0">
  
      <table datatable [dtOptions]="dtOptions" class="table hover">
  
        <thead *ngIf="!cargandoTabla">
          <tr>
            <th>Nombre</th>
            <th>Monto</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody *ngIf="!cargandoTabla">
  
          <tr *ngFor="let dinero of dineros; let j = index;">
            <td>{{ dinero.nombreBillete | titlecase }}</td>
            <td>{{ dinero.monto | number }}</td>
            <td class="col-2">
              <div [formGroup]="form.get(dinero.idBillete.toString())">
                <input type="number" class="form-control" formControlName="cantidad" [id]="'cantidad-' + dinero.idBillete"
                  >
                <input type="number" class="form-control" formControlName="monto" [id]="'monto-' + dinero.idBillete"
                  >
                <span *ngIf="datoInvalido(dinero.idBillete.toString())" class="e-mensaje-error">
                  {{ mensaje(dinero.idBillete.toString()) }}
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
  
    </form>
  </div>
-->
<!--
<div class="col-12 table-responsive rounded p-0 e-primer-fondo-claro">
    <form *ngIf="dineros.length > 0">
      <table  class="table hover">
  
        <thead *ngIf="!cargandoTabla">
          <tr>
            <th>Nombre</th>
            <th>Monto</th>
            <th>Cantidad</th>
            <th>Monto</th>
          </tr>
        </thead>
        <tbody *ngIf="!cargandoTabla">
  
          <tr *ngFor="let dinero of dineros; let i = index;">
            <td>{{ dinero.nombreBillete | titlecase }}</td>
            <td>{{ dinero.monto | number }}</td>
            <td class="col-2" [formGroup]="getControlGroup(dinero.idBillete)">
              <div>
                <input type="number" class="form-control" formControlName="cantidad" [id]="'cantidad-' + dinero.idBillete"
                  >
                <input type="number" class="form-control" formControlName="monto" [id]="'monto-' + dinero.idBillete"
                  >
                <span *ngIf="datoInvalido(dinero.idBillete.toString())" class="e-mensaje-error">
                  {{ mensaje(dinero.idBillete.toString()) }}
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
  
    </form>
  </div>
 

-->

<div class="col-12 table-responsive rounded p-0 e-primer-fondo-claro">
    <form [formGroup]="form" *ngIf="dineros.length > 0">
    <div formArrayName="dineroControles">
  
      <table datatable [dtOptions]="dtOptions" class="table hover">
  
        <thead *ngIf="!cargandoTabla">
          <tr>
            <th>Nombre</th>
            <th>Monto</th>
            <th>Cantidad</th>
            <th>Observacion</th>
          </tr>
        </thead>
        <tbody *ngIf="!cargandoTabla" >
  <!--
          <tr *ngFor="let dinero of dineros; let i = index;" [formGroupName]="i">
            <td>{{ dinero.nombreBillete | titlecase }}</td>
            <td><input type="number" class="form-control" formControlName="monto"></td>
            <td class="col-2">
              <div>
                <input type="number" class="form-control" formControlName="cantidad">
                <span *ngIf="datoInvalido(dinero.idBillete.toString())" class="e-mensaje-error">
                  {{ mensaje(dinero.idBillete.toString()) }}
                </span>
              </div>
            </td>
            <td class="col-2">
              <div>
                <input type="text" class="form-control" formControlName="observacion">
              </div>
            </td>
          </tr>
-->

<tr *ngFor="let dinero of dineros; let i = index;" [formGroupName]="i">
  <td>{{ dinero.nombreBillete | titlecase }}</td>
  <td>
    <div>
      <input type="number" class="form-control" formControlName="monto">
      <span *ngIf="datoInvalido('monto', 'dineroControles', i)" class="e-mensaje-error">
        {{ mensajeValidacion('monto', form.get('dineroControles')!.get(i.toString())!) }}
      </span>
    </div>
  </td>
  <td class="col-2">
    <div>
      <input type="number" class="form-control" formControlName="cantidad">
      <span *ngIf="datoInvalido('cantidad', 'dineroControles', i)" class="e-mensaje-error">
        {{ mensajeValidacion('cantidad', form.get('dineroControles')!.get(i.toString())!) }}
      </span>
    </div>
  </td>
  <td class="col-2">
    <div>
      <input type="text" class="form-control" formControlName="observacion">
    </div>
  </td>
</tr>

        </tbody>
      </table>
    </div>
  
    </form>
  </div>
  



</div>
</div>

 



