<!--PAGINA PRINCIPAL: Resumen de la rendicion-->
<div class="container">
    <h3 class="text-center mt-3">Calculos de la Rendicion</h3>
    <div class="row" *ngIf="calculoRendicion">

        <div class="col-md-12">
            <br>
            <h5>Cobro por creditos de fechas anteriores</h5>
            <h6>Total cobrado: {{calculoRendicion.totalOtrosCobros | number }}</h6>

        </div>

        <div class="col-12">
            <br>
            <h5 class="fw-bold">Detalles de la Rendicion</h5>
            <p><b>Total Apertura Efectivo:</b> {{calculoRendicion.totalAperturaDinero | number}}</p>
            <p><b>Total Cierre  Efectivo:</b> {{calculoRendicion.totalCierreDinero | number}} </p>
            <p><b>Total Diferencia  Efectivo (Apertura-Cierre):</b> {{calculoRendicion.totalDiferenciaDinero | number}}</p>
            <p><b>Total Creditos dados, Cobro con tarjetas y Pagos realizados por recepciones:</b> {{calculoRendicion.totalPendiente | number}}</p>
        </div>

        <div class="col-12">
            <h5 class="fw-bold">Resultados de la Rendicion</h5>
            <div class="row justify-content-around">
                <div class="col-md-8">
                    <h6>Total Venta: </h6>
                </div>
                <div class="col-md-4">
                    <h6 class="text-end">{{calculoRendicion.totalVenta | number}}</h6>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="row justify-content-around">
                <div class="col-md-8">
                    <h6>Total Cobrado (efectivo + creditos + tarjetas + pagos - anteriores creditos ): </h6>
                </div>
                <div class="col-md-4">
                    <h6 class="text-end">{{calculoRendicion.totalDiferenciaDinero+calculoRendicion.totalPendiente-calculoRendicion.totalOtrosCobros | number}}</h6>
                </div>
            </div>
        </div>

        <div class="col-12">
            <hr>
            <div class="row justify-content-around">
                <div class="col-md-8">
                    <h5 class="fw-bold">Total Venta - Total Cierre: </h5>
                </div>
                <div class="col-md-4">
                    <h5 class="text-end fw-bold">{{calculoRendicion.diferenciaVentaCaja | number}}</h5>
                    <h5 class="text-end fw-bold text-danger">{{calculoRendicion.descVentaCaja}}</h5>
                </div>
 
            </div>
        </div>

        <!--Boton Nuevo-->
        <div class="col-12 offset-md-9 col-md-3">
            <div class="d-grid gap-2 mt-3">
                <button class="btn btn-warning" [routerLink]="['/administracion/detalleInvetario', idCabecera]">Detalle de Inventario</button>
            </div>
        </div>
        <!--Boton Nuevo-->
        <div class="col-12 offset-md-9 col-md-3">
            <div class="d-grid gap-2 mt-3">
                <button class="btn btn-warning" [routerLink]="['/administracion/detalleRendicion', idCabecera]">Detallede Caja</button>
            </div>
        </div>

        <div class="col-12 offset-md-9 col-md-3">
            <div class="d-grid gap-2 mt-3">
                <button class="btn btn-secondary" [routerLink]="['/administracion/recepciones', idCabecera]">Recepciones</button>
            </div>
        </div>

        <div class="col-12 offset-md-9 col-md-3">
            <div class="d-grid gap-2 mt-3">
                <button class="btn btn-secondary" [routerLink]="['/administracion/salidas', idCabecera]">Salidas</button>
            </div>
        </div>

        <!-- <div class="col-12 ">

            <p class="fw-bold text-primary" routerLink="../../inventarios">Regresar a la pagina anterior</p>
        </div> -->
    </div>
</div>

