<!--PAGINA PRINCIPAL: Resumen de la rendicion-->
<div class="container">
    <h1 class="text-center mt-3">Calculos de la Rendicion</h1>
    <div class="row" *ngIf="calculoRendicion">

        <div class="col-12">
            <br>
            <h2>Detalles de la Rendicion</h2>
            <h6>Total Apertura: {{calculoRendicion.totalAperturaDinero | number}}</h6>
            <h6>Total Cierre: {{calculoRendicion.totalCierreDinero | number}} </h6>
            <h6>Total Diferencia: {{calculoRendicion.totalDiferenciaDinero | number}}</h6>
            <h6>Total Credito y Salidas: {{calculoRendicion.totalPendiente | number}}</h6>
            <h6>Total de Cobros por creditos: {{calculoRendicion.totalOtrosCobros | number }}</h6>
        </div>

        <div class="col-12">
            <br>
            <h2>Resultados de la Rendicion</h2>
            <div class="row justify-content-around">
                <div class="col-md-8">
                    <h5>Total Venta: </h5>
                </div>
                <div class="col-md-4">
                    <h5 class="text-end">{{calculoRendicion.totalVenta | number}}</h5>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="row justify-content-around">
                <div class="col-md-8">
                    <h5>Total Cierre (Diferencia + Creditos y Salidas): </h5>
                </div>
                <div class="col-md-4">
                    <h5 class="text-end">{{calculoRendicion.totalDiferenciaDinero | number}}</h5>
                </div>
            </div>
        </div>

        <div class="col-12">
            <hr>
            <div class="row justify-content-around">
                <div class="col-md-8">
                    <h4 class="fw-bold">Total Venta - Total Cierre: </h4>
                </div>
                <div class="col-md-4">
                    <h4 class="text-end fw-bold">{{calculoRendicion.diferenciaVentaCaja | number}}</h4>
                    <h4 class="text-end fw-bold text-danger">{{calculoRendicion.descVentaCaja}}</h4>
                </div>
            </div>
        </div>

        <!--Boton Nuevo-->
        <div class="col-12 offset-md-9 col-md-3">
            <div class="d-grid gap-2 mt-3">
                <button class="btn btn-warning" [routerLink]="['/administracion/detalleInvetario', idCabecera]">Detalle de Inventario</button>
            </div>
        </div>
        <!--Boton Nuevo-->
        <div class="col-12 offset-md-9 col-md-3">
            <div class="d-grid gap-2 mt-3">
                <button class="btn btn-warning" [routerLink]="['/administracion/detalleRendicion', idCabecera]">Detallede Caja</button>
            </div>
        </div>

        <div class="col-12">
            <br>
            <br>
            <br>
            <p class="fw-bold text-primary" routerLink="../../inventarios">Regresar a la pagina anterior</p>
        </div>
    </div>
</div>