<div class="modal fade" [id]="modalId" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content modal-xl">

        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{titulo}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">

          <!--
            No tiene ngIf de cargandoTabla pq el boton de buscar del modal estara deshabilitado mientra
            no se obtengan los datos (la tabla igual ya se construye antes de que el @input obtenga los datos,
            por esta razón se valida que primero se obtengas los datos para construir la tabla con el 
            *ngIf="tabla.datos.length>0")
          -->

          <div class="table-responsive">
            <table class="table" class="table hover" datatable [dtOptions]="dtOpciones" *ngIf="tabla.datos.length>0">
              <thead>
                <tr>
                  <th *ngFor="let campo of tabla.campos">{{ campo }}</th>
                  <th>Seleccionar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of tabla.datos"><!-- (dblclick)="seleccionarItem(item)" -->
                  <td *ngFor="let propiedad of tabla.propiedades">{{ getPropiedadValor(item, propiedad) }}</td>
                  <td><button  (click)="seleccionarItem(item)" class="btn btn-warning">Seleccionar</button></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf="1>tabla.datos.length" class="text-center">
            No hay registros
          </div>
          
        </div>

        <!-- <div class="modal-footer">
          <button class="btn e-tercer-boton">Guardar</button>
          <button class="btn e-primer-boton">Eliminar</button>
        </div> -->

      </div>
    </div>
</div>