<!------ TABLA ------>

<div class="container py-2">

  <h3 class="text-center text-dark-emphasis">{{'Detalle De Inventario'}}</h3>
  <p class="fw-bold text-danger">{{descripcion}}</p>
  <!-- <p class="fw-bold" [ngClass]="{'text-danger': !invHabilitado, 'text-success': invHabilitado}">{{descripcion}}</p> -->
  <p class="text-secondary" *ngIf="fechaApertura">Fecha Apertura: {{fechaApertura | date}}</p>
  <p class="text-secondary" *ngIf="idCabeceraInv">Nro Inventario: {{idCabeceraInv}}</p>

  <div class="row">
    <div class="col-12">
      <div class="text-center" *ngIf="cargandoOperacion">
          <div class="spinner-border text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <!-- <div class="text-center text-danger">
            Registrando el inventario..
          </div> -->
      </div>
    </div>

    <div class="col-12" *ngIf="cargandoTabla">
        <div class="text-center">
          <div class="spinner-border text-danger" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <!-- <div class="text-center text-danger">
          Obteniendo productos...
        </div> -->
    </div>
  </div>

  <div class="row" *ngIf="!cargandoOperacion">

    <!-- <div class="col offset-md-9 col-md-3" *ngIf="invHabilitado"> -->
    <div class="col offset-md-9 col-md-3" *ngIf="invHabilitado">
      <div class="d-grid gap-2 my-2">
        <button class="btn btn-danger" (click)="confirmarOperacionEnvio()">Enviar</button>
      </div>
    </div>


    <div class="col-12"  *ngIf="!cargandoTabla && !cargandoOperacion">
      <div class="table-responsive pb-4">
        <form [formGroup]="form" *ngIf="invHabilitado" class=""><!--  -->
          <!-- <div class="outer-wrapper">
            <div class="table-wrapper"> -->
              <!--TODO:cambio produccion-->
              <!--<table datatable [dtOptions]="dtOptions" class="table hover">--><!-- *ngIf="!cargandoTabla && !cargandoOperacion"--> 

                <table class="table hover tablaFormulario" datatable [dtOptions]="dtOptions" >
                  <thead class="bg-warning">
                    <tr>
                      <th class="text-center">NOMBRE</th>
                      <th class="text-center">PRECIO</th>
                      <th class="text-center">CANTIDAD</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let i of productos; let j=index;">
                        <td translate="no" class="text-start">{{i.nombre | titlecase}}</td>
                        <td class="text-end">{{i.precio | number}}</td>
                        <td class="field-amount-size"><!-- class="col-2"-->
                          <div>
                              <!--El id se utiliza para agregar el contorno rojo a los inputs en donde no se ha establecido la cantidad-->
                              <input type="number" class="form-control" formControlName="{{ i.idProducto }}" [id]="i.idProducto">
                              <span *ngIf="datoInvalido(i.idProducto.toString())" class="e-mensaje-error">{{mensaje(i.idProducto.toString())}}</span>   
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- </div>
                    </div> -->
                  </form>
                </div>
    </div>
  
  </div>
</div>

 
<!--PRUEBA MENSAJE-->

<app-modal-confirmar 
[idModal]="'modMensajeId'" 
(guardarClick)="enviar()"
>
<h3 class="text-center text-danger">Desea Guardar los Datos ?</h3>
<!--todo: por ahora no esta imprimiendo la cantidad-->
<!-- <table class="table hover">
  <thead class="bg-warning">
    <tr>
      <th class="text-center">NOMBRE</th>
      <th class="text-center">PRECIO</th>
      <th class="text-center">CANTIDAD</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of productos; let j=index;">
      <td translate="no" class="text-start">{{i.nombre | titlecase}}</td>
      <td class="text-end">{{i.precio | number}}</td>
      <td class="text-center">{{form.get(i.idProducto.toString())?.value}}</td>
    </tr>
  </tbody>
</table> -->

</app-modal-confirmar>

<!-- (eliminarClick)="eliminar()" -->
