<!------ TABLA ------>

<div class="container">

    <div class="row">

    <!---->
    <div class="col-12">
      <h3 class="text-center mt-3">{{descripcion}}</h3>
    </div>
    <!---->

    <div class="col offset-md-9 col-md-3" *ngIf="invHabilitado">
      <div class="d-grid gap-2 my-2">
        <button class="btn e-primer-boton" (click)="enviar()">Enviar</button>
      </div>
    </div>

    <div class="col-12">
      <div class="text-center" *ngIf="cargandoOperacion">
          <div class="spinner-border text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="text-center text-danger">
            Registrando el inventario..
          </div>
      </div>
  </div>

    <div class="col-12" *ngIf="cargandoTabla">
        <div class="text-center">
          <div class="spinner-border text-danger" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <div class="text-center text-danger">
          Obteniendo productos...
        </div>
    </div>
    <!--
      table-responsive

    -->
        <div class="col-12 rounded p-0 e-primer-fondo-claro table-responsive" >
            <!-- <form [formGroup]="form" *ngIf="productos.length>0"> -->
            <form [formGroup]="form" *ngIf="invHabilitado">

              <div class="outer-wrapper">
                <div class="table-wrapper">
                <table datatable [dtOptions]="dtOptions" class="table hover " > 

                    <thead *ngIf="!cargandoTabla">
                        <tr>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="!cargandoTabla">
                        <!--
                            able-group-divider: Agregue un borde más grueso, más oscuro entre los grupos de tablas
                        -->
                        <!--CON TOTAL-->
                        <!--
                        <tr *ngFor="let i of productos">
                            <td>{{i.nombre | titlecase}}</td>
                            <td>{{i.precio | number}}</td>
                            <td>
                                <input type="number" [(ngModel)]="i.cantidad" required min="" [ngClass]="{'is-invalid': !i.cantidad}" (ngModelChange)="actualizarCantidad(i)">
                            </td>
                        </tr>
                        -->
    
                        <tr *ngFor="let i of productos; let j=index;">
                            <td>{{i.nombre | titlecase}}</td>
                            <td>{{i.precio | number}}</td>
                            <td class="col-2">
                              <!-- style="width: 100px;"-->
                              <div>
                                  <input type="number" class="form-control" formControlName="{{ i.idProducto }}" [id]="i.idProducto">
                                  <span *ngIf="datoInvalido(i.idProducto.toString())" class="e-mensaje-error bg-success">{{mensaje(i.idProducto.toString())}}</span>   
                              </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
              </div>
            </div>
            </form>
        </div>
<!-- 
        <div class="col-12" *ngIf="productos.length<1">
          <p class="text-danger">No hay productos registrados</p>
        </div> -->

    </div>
</div>

 



