<div class="container mt-2">

    <div class="row">
  
        <div class="col-12">
          <h3 class="text-center text-dark-emphasis">{{'Detalle de inventario'}}</h3>
          <p class="fw-bold" [ngClass]="{'text-danger': !invHabilitado, 'text-secondary': invHabilitado}">{{descripcion}}</p>
          <p class="text-secondary" *ngIf="fechaApertura">Fecha Apertura: {{fechaApertura | date}}</p>
          <p class="text-secondary" *ngIf="idCabeceraInv">Nro Inventario: {{idCabeceraInv}}</p>
        </div>
    
        <div class="col-12">
          <div class="text-center" *ngIf="cargandoDatos">
              <div class="spinner-border text-danger" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
          </div>
        </div>
  
    
        <div class="col-12" *ngIf="!cargandoDatos">
          <div class="table-responsive pb-4">
            <table class="table hover" *ngIf="dinventario.length>0">
  
              <thead class="bg-warning">
                  <tr>
                    <th class="text-center">IDP</th>
                    <th class="text-center">PRODUCTO</th>
                    <th class="text-center">APERTURA</th>
                    <th class="text-center">CIERRE</th>
                    <th class="text-center">RECEPCION</th>
                    <th class="text-center">SALIDA</th>
                    <th class="text-center">PRECIO</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let i of dinventario; let j=index;">
                    <td class="text-center">{{i.idproducto}}</td>
                    <td translate="no" class="text-start">{{i.Producto.nombre | titlecase}}</td>
                    <td class="text-center">{{i.cantidadApertura}}</td>
                    <td class="text-center">{{i.cantidadCierre}}</td>
                    <td class="text-center">{{i.cantidadRecepcion}}</td>
                    <td class="text-center">{{i.cantidadSalida}}</td>
                    <td class="text-end fw-bold">{{i.precio | number }}</td>
                  </tr>
              </tbody>
          </table>
          </div>
        </div>
      
      </div>

</div>

