<!-- PAGINA PRINCIPAL: LISTADO DE CABECERAS -->
<div class="container mt-2">
    <h3 class="text-center text-dark-emphasis">Rendiciones Registradas</h3>

    <div class="row">

        <div class="col offset-md-9 col-md-3">
            <div class="d-grid gap-2 my-2">
                <button class="btn btn-danger" type="button" (click)="mostrarModal(modalFiltros,true)">Ver filtros</button>
                <button class="btn btn-danger" type="button" (click)="mostrarPDF()">Ver PDF</button>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-12" *ngIf="cargandoDatos">
            <div class="text-center">
              <div class="spinner-border text-danger" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
            <!-- <div class="text-center text-danger">
              Obteniendo los Datos...
            </div> -->
        </div>

        <div class="col-12">
            <div class="table-responsive pb-2">
                <table class="table table-hover tablaFormulario" datatable [dtOptions]="dtOpciones" *ngIf="!cargandoDatos">

                    <thead class="bg-warning">
                        <tr> 
                            <th class="text-center">Fecha Apertura</th>
                            <th class="text-center">Fecha Cierre</th>
                            <th class="text-center">Sucursal</th>
                            <th class="text-center">Turno</th>
                            <th class="text-center">Monto Apertura</th>
                            <th class="text-center">Monto Cierre</th>
                            <th class="text-center">Monto Pendiente</th>
                            <th class="text-center">Monto Diferencia</th>
                            <!-- <th class="text-center">Megas In - Fi</th> -->
                            <th class="text-center">Detalle</th> 
                            <th class="text-center">Editar</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of cabeceras">
                            <td  class="text-start">{{i.fechaApertura | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td  class="text-start">{{i.fechaCierre | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                            <td class="text-start">{{i.Sucursal.nombre | titlecase}}</td>
                            <td  class="text-center">{{i.turno}}</td>
                            <td class="text-end">{{i.montoApertura |number}}</td>
                            <td class="text-end">{{i.montoCierre |number}}</td>
                            <td class="text-end">{{i.montoPendiente |number}}</td>
                            <td class="text-end">{{i.montoDiferencia |number}}</td>
                            <!-- <td class="text-end">{{i.megasIniciales +'--'+ i.megasFinales}}</td> -->
                            <!-- <td  class="text-center" *ngIf="i.estado==='CC'"><button id="btnCalculos_{{i.idCabecera}}" class="btn btn-danger"><i class="bi bi-calculator"></i></button></td> (click)="verCalculos(i.idCabecera)" -->
                            <td  class="text-center" *ngIf="i.estado==='CC'"><button (click)="verCalculos(i.idCabecera)" class="btn btn-danger"><i class="bi bi-calculator"></i></button></td> <!-- (click)="verCalculos(i.idCabecera)" -->
                            <td  class="text-center" *ngIf="i.estado!=='CC'"><button (click)="verDetalle(i.idCabecera)" class="btn btn-secondary"><i class="bi bi-arrow-up-right-square"></i></button></td> <!--[routerLink]="'../detalleRendicion/'+i.idCabecera"--> <!--(click)="redirigirADetalleRendicion(i.idCabecera)"-->      
                            
                            <td  class="text-center"><button (click)="editar(i.idCabecera)" class="btn btn-success"><i class="bi bi-pencil"></i></button></td> <!--[routerLink]="'../detalleRendicion/'+i.idCabecera"--> <!--(click)="redirigirADetalleRendicion(i.idCabecera)"-->      
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- MODAL PARA APLICAR FILTROS -->
<app-modal
[modalId]="modalFiltros"
[modalTamaño]="'mediano'"
[titulo]="'Filtros de Inventarios'"
>

    <div class="row">
        <div class="col-12 mt-3">
            <form [formGroup]="form" class="row">

                <div class="col-md-6 mb-3">
                    <label for="desde" class="form-label">Desde</label>
                    <input formControlName="desde" type="date" id="desde" class="form-control">
                </div>
              
                <div class="col-md-6">
                    <label for="hasta" class="form-label">Hasta</label>
                    <input formControlName="hasta" type="date" id="hasta" class="form-control">
                </div>

                <div class="col-md-6">
                    <label class="form-label">Estado</label>
                    <select formControlName="estado" class="form-select">
                        <option value="todos">Todos</option>
                        <option value="cerrados">Cerrados</option>
                        <option value="abiertos">Abiertos</option>
                    </select>
                </div>

                <div class="col-md-5">
                    <label class="form-label">Sucursal</label>
                    <select formControlName="sucursal" class="form-select">
                        <option value="todos">Todos</option>
                        <option *ngFor="let s of sucursales" [value]="s.idSucursal">{{s.nombre}}</option>
                    </select>
                </div>
              
                <div class="col-md-6">
                    <label class="form-label">Turno</label>
                    <select formControlName="turno" class="form-select">
                        <option value="todos">Todos</option>
                        <option value="manana">Mañana</option>
                        <option value="tarde">Tarde</option>
                        <option value="noche">Noche</option>
                    </select>
                </div>

                <div class="col-md-6 d-grid">

                    <label for="">Filtrar</label>
                    <button class="btn btn-warning" (click)="buscar()" type="button">Buscar</button>
                    
                </div>

            </form>
        
        </div>
        
    </div>
</app-modal>