<!--PANTALLA-->
<div class="container">
    <div class="row">
      <!--Boton Nuevo-->
      <div class="col offset-md-9 col-md-3">
        <div class="d-grid gap-2 my-2">
          <button class="btn e-segundo-boton" (click)="nuevo()">Nuevo</button>
        </div>
      </div>

      <!--Spinner de la tabla-->
      <div class="col-12">
        <div class="text-center mt-3" *ngIf="cargandoTabla">
          <div class="spinner-border text-danger" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <!-- <div class="text-center text-danger">
            Obteniendo los Datos...
          </div> -->
        </div>
      </div>

      <!--Tabla Para Listar Datos-->
      <div class="col-12">
        <div class="table-responsive">
            <table class="table hover" datatable [dtOptions]="dtOpciones" *ngIf="!cargandoTabla">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Fecha</th>
                    <th>Activo</th>
                    <th>Usuario</th>
                    <th>Detalle</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of tabla" (dblclick)="obtenerSeleccionado(item)">
                    <td>{{item.idInformacion}}</td>
                    <td>{{item.titulo}}</td>
                    <td>{{item.fecha}}</td>
                    <td>{{item.activo}}</td>
                    <td>{{item.Usuario.nombre}}</td>
                    <td class="text-center"><button class="btn btn-secondary" (click)="obtenerSeleccionado(item)"><i class="bi bi-arrow-up-right-square"></i></button></td>     

                  </tr>
                </tbody>
            </table>
        </div>

      </div>
    </div>
  </div>
  
  <!-- MODAL DATOS E IMAGEN -->
  <div class="modal fade" [id]="modInforamacionId" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
  
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{'Sucursales'}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
          <!--Spinner-->
          <div class="text-center" *ngIf="cargandoOperacion">
            <div class="spinner-border text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
            </div>
          </div>

            <!--FORMULARIO PARA REALIZAR ABM  DE DATOS-->
            <form [formGroup]="form" class="row g-3">
                <div class="col-12">
                <h3 class="text-center">Datos de la informacion</h3>
                </div>

                <div class="col-md-6">
                <label for="titulo" class="form-label">Titulo</label>
                <input formControlName="titulo" type="text" id="titulo" class="form-control">
                <small *ngIf="datoInvalido('titulo')" class="e-mensaje-error">{{mensaje('titulo')}}</small>
                </div>

                <div class="col-md-6">
                <label for="fecha" class="form-label">Fecha</label>
                <input formControlName="fecha" type="date" id="fecha" class="form-control">
                <small *ngIf="datoInvalido('fecha')" class="e-mensaje-error">{{mensaje('fecha')}}</small>
                </div>

                <div class="col-12">
                <label for="descripcion" class="form-label">Descripcion</label>
                <input formControlName="descripcion" type="text" id="descripcion" class="form-control">
                <small *ngIf="datoInvalido('descripcion')" class="e-mensaje-error">{{mensaje('descripcion')}}</small>
                </div>


            </form>

            <!--FORMULARIO DE IMAGEN-->
            <form [formGroup]="formImagen" class="row g-3" *ngIf="accion=='M'">
                <div class="col-12">
                <div class="row">
                    <div class="col-12">
                    <h3 class="text-center">Imagen de la Informacion</h3>
                    </div>

                    <div class="col-12">
                    <label class="form-label fw-bold">Editar Imagen</label>
                    <div class="input-group my-2">
                        <input type="file" (change)="capturarArchivo($event)" formControlName="imagenControl" class="form-control">
                        <button class="btn btn-warning" type="button" (click)="subirArchivo()" [disabled]="cargandoImagen">{{(cargandoImagen)? 'Cargando':'Guardar'}}</button>
                    </div>
                    <small *ngIf="archivoInvalido('imagenControl')" class="e-mensaje-error">{{mensajeArchivo('imagenControl')}}</small>
                    </div>

                    <div class="col-6">
                    <div class="fw-bold">Imagen Actual</div>
                    <img [src]="apiUrl+seleccionado.idInformacion" alt="" width="100%" height="auto">
                    </div>

                    <div class="col-6">
                    <div class="fw-bold">Imagen Nueva</div>
                    <img [src]="previsualizacion" alt="" width="100%" height="auto">
                    </div>

                </div>
                </div>
            </form>

        </div>
        
        <div class="modal-footer">
          <button *ngIf="cargandoOperacion!=true" (click)="guardar()" class="btn e-tercer-boton">{{(accion=='M')?'Actualizar':'Guardar'}}</button>
          <button *ngIf="accion=='M' && cargandoOperacion!=true" (click)="eliminar()" class="btn e-primer-boton">Eliminar</button>
        </div>

      </div>
    </div>
  </div>

    