<!--mientras se esta obteniendo los datos muestra el loading-->
  <div class="text-center mt-3" *ngIf="cargandoTabla">
    <div class="spinner-border text-danger" style="width: 3rem; height: 3rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  
  
  <table class="table hover" datatable [dtOptions]="dtOpciones" [dtTrigger]="dtEventos">
      <thead *ngIf="!cargandoTabla">
        <tr>
          <th *ngFor="let campo of tabla.campos">{{ campo }}</th>
        </tr>
      </thead>
      <tbody *ngIf="!cargandoTabla">
        <tr *ngFor="let item of tabla.datos" (dblclick)="seleccionarItem(item)">
          <td *ngFor="let propiedad of tabla.propiedades">{{ getPropiedadValor(item, propiedad) }}</td>
        </tr>
      </tbody>
  </table>
  
  