
<!--PARA EMPLEADOS-->

<app-menu-funcionario></app-menu-funcionario>

<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <!--style="max-width: 600px;" -->
            <div class="card my-3 w-100" >
                <div class="row g-2">
                  <div class="col-md-6 text-center">
                    <!-- style="height: 30vh; width: 40vw;"-->
                    <img [src]="apiUrl+usuario.idUsuario" class="img-fluid rounded-start w-100" alt="...">
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                        <h2>Perfil de usuario</h2>
                        <h3>Nombre: </h3>
                        <p>{{usuario.nombre}}</p>
    
                        <h3>Usuario: </h3>
                        <p>{{usuario.nusuario}}</p>
    
                        <h3>Correo: </h3>
                        <p>{{usuario.correo}}</p>
    
                        <h3>Rol: </h3>
                        <p>{{usuario.Rol.rol}}</p>
    
                        <h3>Sucursal: </h3>
                        <p>{{usuario.Sucursal.nombre}}</p>

                        <h3>Categoria: </h3>
                        <p>{{getCategoria}}</p>
                    </div>
                  </div>
                </div>
              </div>

        </div>
    </div>
</div>


<!--PARA CLIENTES-->