<div class="container mt-2">
    <h3 class="text-center text-dark-emphasis">Detalle de Inventario</h3>
    <div class="row">
        <!--Spinner de la tabla-->
        <div class="col-12">
            <div class="text-center mt-3" *ngIf="cargandoDetalle">
            <div class="spinner-border text-danger" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <!-- <div class="text-center text-danger">
                Obteniendo los Datos...
            </div> -->
            </div>
        </div>

        <div class="col-12">
            <!--No utilizo una tabla reutilizable se necesitan dos botones (es mas complejo)-->
            <div class="table-responsive">
                <table class="table table-hover" datatable [dtOptions]="dtOpciones" *ngIf="!cargandoDetalle">

                    <thead class="bg-warning">
                        <tr> 
                            <th class="text-center">Producto</th>
                            <th class="text-center">Apertura</th>
                            <th class="text-center">Cierre</th>
                            <th class="text-center">Recepcion</th>
                            <th class="text-center">Salida</th>
                            <th class="text-center">Venta</th>
                            <th class="text-center">Precio</th>
                            <th class="text-center">Total</th>
                            <th class="text-center">Recepcion</th>
                            <th class="text-center">Salida</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of detalleRendicion">
                            <td class="text-start">{{i.Producto.nombre}}</td>
                            <td class="text-center">{{i.cantidadApertura}}</td>
                            <td class="text-center">{{i.cantidadCierre}}</td>
                            <td class="text-center">{{i.cantidadRecepcion}}</td>
                            <td class="text-center">{{i.cantidadSalida}}</td>
                            <td class="text-center fw-bold">{{i.cantidadTotal | number}}</td>
                            <td class="text-end fw-bold">{{i.precio  | number}}</td>
                            <td class="text-end fw-bold">{{i.totalMultiplicado  | number}}</td>   
                            <td class="text-center"><button class="btn btn-warning" (click)="verRecepcion(i.idproducto)"><i class="bi bi-box-arrow-in-left"></i></button></td>
                            <td class="text-center"><button class="btn btn-secondary" (click)="verSalida(i.idproducto)"><i class="bi bi-box-arrow-right"></i></button></td>
                            <!-- <td class="text-center"><button class="btn btn-warning" id="btnRecepcion_{{i.idproducto}}"><i class="bi bi-box-arrow-in-left"></i></button></td>
                            <td class="text-center"><button class="btn btn-secondary" id="btnSalida_{{i.idproducto}}"><i class="bi bi-box-arrow-right"></i></button></td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- <div class="col-12">
            <br>
            <p class="fw-bold text-primary"  [routerLink]="['/administracion/calculoRendicion', idCabecera]">Regresar a la pagina anterior</p>
        </div> -->
    </div>
</div>

