
<div class="text-center mt-3" *ngIf="cargandoTabla">
    <div class="spinner-border text-danger" style="width: 3rem; height: 3rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
</div>
  
  <!-- <div class="table-responsive"> -->
    <table class="table" class="table hover" datatable [dtOptions]="dtOpciones" *ngIf="!cargandoTabla">
        <thead>
          <tr>
            <th *ngFor="let campo of tabla.campos; let i=index" [ngClass]="getAlineacionClase(alineaciones[i])">{{ campo }}</th>
            <th>Detalle</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tabla.datos; let index=index" ><!--(dblclick)="seleccionarItem(item)"-->
            <td *ngFor="let propiedad of tabla.propiedades; let i=index" [ngClass]="getAlineacionClase(alineaciones[i])">{{ getValorConPipe(item, propiedad)}}</td>
            <td><button id="btnDetalle_{{index}}">Seleccionar {{index}}</button></td><!--(click)="seleccionarItem(item)"-->
          </tr>
        </tbody>
    </table>
  <!-- </div> -->