<!--PANTALLA-->
<div class="container">
    <div class="row">
      <!--Boton Nuevo-->
      <div class="col offset-md-9 col-md-3">
        <div class="d-grid gap-2 my-2">
          <button class="btn e-segundo-boton" (click)="nuevo()">Nuevo</button>
        </div>
      </div>
      <!--Tabla Para Listar Datos-->
      <div class="col-12">
        <!-- <app-tabla-basica 
        [tabla]="tabla" 
        [cargandoTabla]="cargandoTabla" 
        (itemSeleccionado)="obtenerSeleccionado($event)"
        [dtOpciones]="dtOpciones"></app-tabla-basica> -->

        <div class="table-responsive">
            <table class="table hover" datatable [dtOptions]="dtOpciones" *ngIf="!cargandoTabla">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>estado</th>
                    <th>Usuario</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of tabla" (dblclick)="obtenerSeleccionado(item)">
                    <td>{{item.idSucursal}}</td>
                    <td>{{item.nombre}}</td>
                    <td>{{item.estado | booleanToString}}</td>
                    <td>{{item.Usuario.nombre}}</td>
                  </tr>
                </tbody>
            </table>
        </div>

      </div>
    </div>
  </div>
  
  <div class="modal fade" [id]="modSucursalId" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
  
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{'Sucursales'}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
          <!--Spinner-->
          <div class="text-center" *ngIf="cargandoOperacion">
            <div class="spinner-border text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
            </div>
          </div>

          <!--Formulario para realizar ABMC de los datos-->
          <form [formGroup]="form" class="row g-3">
        
            <div class="col-12">
              <label for="nombre" class="form-label">Nombre</label>
              <input formControlName="nombre" type="text" id="nombre" class="form-control" placeholder="nombre">
              <small *ngIf="datoInvalido('nombre')" class="e-mensaje-error">{{mensaje('nombre')}}</small>
            </div>
            
          </form>

        </div>
        
        <div class="modal-footer">
          <button *ngIf="cargandoOperacion!=true" (click)="guardar()" class="btn e-tercer-boton">{{(accion=='M')?'Actualizar':'Guardar'}}</button>
          <button *ngIf="accion=='M' && cargandoOperacion!=true" (click)="eliminar()" class="btn e-primer-boton">Eliminar</button>
        </div>

      </div>
    </div>
  </div>

     
  <!-- MODAL -->
  <app-modal-formulario
  [idModal]="modSucursalId"
  [titulo]="'Sucursales'"
  [accion]="accion"
  (guardarClick)="guardar()" 
  (eliminarClick)="eliminar()"
  [cargandoOperacion]="cargandoOperacion"
  >
    <!--Formulario para realizar ABMC de los datos-->
    <form [formGroup]="form" class="row g-3">
  
      <div class="col-12">
        <label for="nombre" class="form-label">Nombre</label>
        <input formControlName="nombre" type="text" id="nombre" class="form-control" placeholder="nombre">
        <small *ngIf="datoInvalido('nombre')" class="e-mensaje-error">{{mensaje('nombre')}}</small>
      </div>
      
    </form>
  </app-modal-formulario>
    
    
    
    
    
    
    